<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="competition.server.port" value="55556"/>
	</appSettings>
	<connectionStrings>
		<add name="Competition" connectionString="Host=localhost;Username=postgres;Password=postgres;Database=competition"/>
	</connectionStrings>
</configuration>